.me {
    width: 150px;
    height: auto;
    border: solid black 2px; 
    border-radius: 50%;
}

.reaching {
    width: 300px;
    height: auto;
    border: solid black 2pt; 
    margin-left: 60px;
}

h2 {
    background-color: papayawhip;
    color: white;
    color: black;
}

h3 {
    color: black;
    background-color: papayawhip;
}

body {
    background-color: powderblue;
}